.card {
  background-color: black;
}

img {
  background-image: linear-gradient(
    -225deg,
    #473b7b 0%,
    #3584a7 51%,
    #30d2be 100%
  );
}

.info-card {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}
